<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.title}"></title>
    <link rel="icon" th:href="@{/image/img.png}"></link>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="../css/mdb.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body style="padding-top:60px">
<nav th:replace="~{nav::navbar}"></nav>
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img th:src="${book.image}" class="img-fluid" alt="book" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        <a href="">
                            <span class="badge bg-dark me-1">Softcover</span>
                        </a>
                        <a href="">
                            <span class="badge bg-info me-1">New</span>
                        </a>
                        <a href="" th:each="categoryDetail:${categoryDetails}">
                            <span class="badge bg-primary me-1" th:text="${#strings.capitalize(categoryDetail.category.name)}"></span>
                        </a>
                        <a href="">
                            <span class="badge bg-danger me-1">Bestseller</span>
                        </a>
                    </div>

                    <p class="lead">
<!--                          <span class="me-1">-->
<!--                              <del>$200</del>-->
<!--                          </span>-->
                        <span th:text="${book.price}+'₫'"></span>
                    </p>

                    <strong><p style="font-size: 20px;">Description</p></strong>

                    <div class="title">
                        <p th:text="${book.description}"></p>
                    </div>
                    <strong><p class="read_more">Read more</p></strong>
                    <strong><p class="hidden">Hide</p></strong>
                    <form th:action="@{/buy/}+${book.id}" class="d-flex justify-content-left" method="post">
                        <!-- Default input -->
                        <div class="form-outline me-1" style="width: 100px;border: solid #cee; border-radius:25px">
                            <input type="number" name="quantity_" class="form-control" value="1" min="1"/>
                        </div>
                        <button type="submit" class="btn btn-primary m-1 ripple-surface" data-mdb-ripple-init="" style="min-width: 100.012px;">Add to cart
                            <i class="fas fa-shopping-cart ms-1"></i><div class="ripple-wave active" style="left: -5.53911px; top: -65.5391px; height: 147.078px; width: 147.078px; transition-delay: 0s, 250ms; transition-duration: 500ms, 250ms;"></div><div class="ripple-wave active" style="left: -4.02325px; top: -76.0233px; height: 172.047px; width: 172.047px; transition-delay: 0s, 250ms; transition-duration: 500ms, 250ms;"></div>
                        </button>
                    </form>
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <hr />

        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Additional information</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit voluptates, quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
</body>
<script th:src="@{/js/callPurchaseDetail.js}"></script>
<script type="text/javascript" src="../js/mdb.umd.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/counter.js"></script>
</html>